@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&family=Roboto:wght@900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(217, 219, 220, 0.874);
}
h1 {
    font-family: "Pacifico", cursive;
    font-size: 4em;
    color: rgba(52, 78, 84, 0.888);
}
h2,
h3,
h4 {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    color: rgb(45, 51, 54);
}
.hero {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.hero::before {
    content: "";
    background-image: url("/image/bg3.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.4;
    position: absolute;
}
.name-logo {
    margin-left: 6em;
    padding: 8px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

nav .nav-menu {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    margin: 12px 128px;
    padding: 7px;
}
nav li {
    display: inline-flex;
}
nav a {
    text-decoration: underline;
    font-family: "Roboto", sans-serif;
    color: rgb(28, 26, 26);
    padding: 9px 40px;
}
.name-logo {
    margin-right: 90px;
    margin-left: 22px;
    padding-top: 27px;
}
.hero-content {
    width: 100%;
    margin: auto;
    text-align: center;
}

/* nav animation */
nav a:hover {
    color: aliceblue;
    background-color: rgba(47, 69, 73, 0.653);
    border-radius: 9px;
    text-decoration: none;
    transition: 0.5s ease;
}

@media only screen and (max-width: 768px) {
    nav {
        display: block;
        width: 100%;
    }
    nav h2 {
        display: inline;
    }
    @media only screen and (max-width: 768px) {
        nav .nav-menu {
            display: block;
            background-color: rgba(255, 250, 240, 0.79);
            width: 100%;
            /* height: 100vh; */
            position: absolute;
            right: 0px;
            top: -1px;
            right: -127px;
        }
        nav li {
            display: block;
            width: 100%;
            padding: 23px;
        }
    }
}

/* main style */
.main {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    margin: auto;
    justify-content: space-around;
}

.main h2 {
    text-align: center;
    margin-top: 126px;
    margin-bottom: 60px;
}
@media only screen and (max-width: 768px) {
    .main {
        width: 80%;
    }
}

/* skill section */
.skill .skill-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 17px;
    padding: 16px;
    max-height: auto;
}
.skill .skill-cards ul {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 18px;
    width: 49%;
    padding: 36px;
    margin: 6px;
}
.skill li {
    list-style: none;
    width: 100%;
    margin-top: 17px;
}

.skill-cards h3 {
    font-size: large;
}

/* Skill card animation */
.skill .skill-cards ul:hover {
    background-color: rgba(47, 69, 73, 0.653);
    color: aliceblue;
    font-weight: bold;
}
.skill .skill-cards h3:hover {
    background-color: rgba(47, 69, 73, 0.653);
    color: rgb(216, 200, 172);
}

@media only screen and (max-width: 768px) {
    .skill .skill-cards {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: auto;
    }
    .skill .skill-cards ul {
        width: 100%;
    }
}

/* Project section */
.project .project-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.project .project-content .project-item {
    width: 40%;
    height: auto;
    text-align: center;
    padding: 23px;
    background-color: rgb(246, 243, 239);
    border: 2px solid black;
    position: relative;
}
.project .project-content img {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: scale-down;
    object-position: center;
}
.project .project-content p {
    padding: 30px;
}

@media only screen and (max-width: 768px) {
    .project .project-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .project .project-content .project-item {
        width: 100%;
        text-align: center;
        margin-top: 12px;
    }
}

/* /* project animation */

/* overlay */
.project .project-item .overlay {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 100%;
    height: 0px;
    left: 0;
    overflow: hidden;
    background-color: rgba(62, 82, 85, 0.93);
    transition: 0.5s ease;
}

.project .project-item .text {
    color: aliceblue;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 235px;
    width: 100%;
    overflow: hidden;
    transform: translate(3%, -14%);
}
.project .project-item button {
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 340px;
    width: 34%;
    left: 50px;
    right: 50px;
    text-decoration: none;
}
.project .project-item a {
    text-decoration: none;
    color: rgb(28, 26, 26);
}

/* overflow: hidden */
.project .project-content .project-item:hover .overlay {
    bottom: 0;
    height: 100%;
}

/* Contact */

.contact .form {
    width: 40%;
    margin-right: auto;
}
.contact .form input,
button,
textarea {
    display: block;
    width: 80%;
    margin: 6px auto;
    padding: 12px;
    border-radius: 14px;
    border-style: none;
}
.contact .form input,
.contact .from button,
textarea :hover {
    background-color: antiquewhite;
}

.contact button:hover {
    background-color: rgba(47, 69, 73, 0.522);
}
@media only screen and (max-width: 768px) {
    .contact .form {
        width: 100%;
        margin: auto;
    }
    .contact .form input,
    .contact .from button,
    textarea {
        margin: 6px auto;
    }
}

/* Footer */
footer {
    background-color: antiquewhite;
    margin-top: 55px;
    padding: 58px;
}
footer div{
    width: 50%;
    margin: auto;
    height: auto;
    text-align: center;
}
